@use './_variables' as *;

@mixin set-font-size($size, $line, $weight: 400) {
  font-size: $size;
  line-height: $line;
  font-weight: $weight;
}

@mixin set-container-default() {
  max-width: $w-container-desktop;
  margin: 0 auto;
}

@mixin min-point($point) {
  @if map-has-key($breakpoints, $point) {
    @media (min-width: map-get($breakpoints, $point)) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$point}.";
  }
}

@mixin max-point($point) {
  @if map-has-key($breakpoints, $point) {
    @media (max-width: calc(map-get($breakpoints, $point) - 1px)) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$point}.";
  }
}
