$c-dark: #0c111f;
$c-pink: #b66570;
$c-base: #512f5c;
$c-yellow: #ed9e6f;
$c-base-dark: #2d1f44;
$c-base-light: #80466e;
$c-light: #f1f2ef;

$w-container-desktop: 1100px;

$ff-base: "Rubik", serif;

$tr-3: all 0.3s ease;

$breakpoints: (
  sm: 360px,
  ms: 435px,
  md: 768px,
  lg: 1024px,
  lp: 1280px, //large-plus
  xl: 1440px,
  xxl: 1920px
);

$container-max-widths: (
  sm: calc(338 / 360 * 100%),
  md: calc(728 / 768 * 100%),
  lg: calc(984 / 1024 * 100%),
  xl: calc(1280 / 1440 * 100%),
  xxl: 1760px,
  unlimited: 100%
);