@use "./_variables" as *;
@use "./_mixins" as *;
@use "./_templates" as *;

.form {
  @include set-container-default();
  width: 100%;
  @extend %flex-column-center;
  gap: 1.5rem;

  &__form {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
  }

  &__fieldset {
    border: none;
    padding: 0;
    margin-bottom: 2rem;
  }

  &__legend {
    @include set-font-size(20px, 2rem, 500);
    margin-bottom: 0.5rem;
  }

  &__error {
    @include set-font-size(12px, 1rem, 400);
    color: $c-base-light;
    margin-top: 0.2rem;
    opacity: 0;
  }

  &__field {
    @extend %flex-column-center;

    &-label {
      @include set-font-size(1rem, 1.5rem, 500);
    }
  }

  &__input {
    background: $c-dark;
    border: 2px solid $c-pink;
    border-radius: 8px;
    padding: 0.5rem;
    color: $c-light;
    margin-top: 0.5rem;
    -webkit-transition: $tr-3;
    -o-transition: $tr-3;
    transition: $tr-3;

    &::-webkit-input-placeholder {
      color: $c-yellow;
    }

    &::-moz-placeholder {
      color: $c-yellow;
    }

    &:-ms-input-placeholder {
      color: $c-yellow;
    }

    &::-ms-input-placeholder {
      color: $c-yellow;
    }

    &::placeholder {
      color: $c-yellow;
    }

    &:active,
    &:focus {
      border-color: $c-yellow;
      outline: none;
    }
  }

  &__select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;

    &:focus {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-color: $c-yellow;
      outline: none;
    }

    & option {
      background-color: $c-base;
      color: $c-light;
    }
  }

  &__checkbox {
    &-input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    &-label {
      cursor: pointer;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      @include max-point(lg) {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
      }

      & > a {
        color: $c-yellow;
        text-decoration: underline;
        display: inline;
      }

      &::before {
        content: "";
        display: inline-block;
        width: 1em;
        height: 1em;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        border: 1px solid $c-pink;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border-radius: 2px;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        cursor: pointer;
      }
    }

    &-input:checked + &-label::before {
      border: none;
      background-size: 100%;
      background-color: $c-yellow;
    }

    &-container {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }
  }

  &__submit {
    margin-top: 2rem;
    padding: 0.8rem 2rem;
    border-radius: 8px;
    background: -o-linear-gradient(233deg, $c-pink, rgba(255, 0, 0, 0) 70.71%),
      -o-linear-gradient(323deg, $c-yellow, rgba(0, 255, 0, 0) 70.71%),
      -o-linear-gradient(114deg, $c-base-light, rgba(0, 0, 255, 0) 70.71%);
    background: linear-gradient(217deg, $c-pink, rgba(255, 0, 0, 0) 70.71%),
      linear-gradient(127deg, $c-yellow, rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(336deg, $c-base-light, rgba(0, 0, 255, 0) 70.71%);
    background-color: $c-yellow;
    border-color: transparent;
    color: $c-base-dark;
    @include set-font-size(1rem, 1.5rem, 500);
    cursor: pointer;
    -webkit-transition: $tr-3;
    -o-transition: $tr-3;
    transition: $tr-3;

    &:hover {
      background-color: $c-base;
      color: $c-light;
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
}